:root{
  --fsize: 3vh;
  --tsize: 2.5vh;
  --c__name: #8e8e8e;
  --c__url: #8e8e8e;
  --c__color: #8e8e8e;
}

.body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    font-size: var(--fsize);
}

.timing{
  text-align: center;
  height: 20vh;
}

.date{
  font-size: var(--fsize);
}

.M{
  font-size: var(--fsize);
}

.TimingControls{
  text-align: center;
}

.clock{
    text-align: center;
}

.MainTime{
  font-size: 13vh;
}

.seconds{
  font-size: 7vh;
}

.ShortForecast{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    justify-content: center;
}

.weather{
    text-align: center;
}

.dropdown{
  background-color: transparent;
  border-width: 1px;
  display: flex;
  justify-content: center;
  height: 4vh;
  padding: 0.75vh;
}

.DropdownMenu{
  text-align: center;
  height: auto;
}

.DropdownSlider{
  overflow: hidden;
  transition: all 300ms ease-in;
}

.DropdownContainer{
  align-self: center;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5vh;
}

.WeatherContainer{
  align-self: center;
  width: 17vw;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 0vh;
  right: 0vh;
  display: flex;
  flex-direction: column;
}

.Forecast{
  align-self: center;
  width: 15vw;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-self: center;
  text-align: center;
  padding: 0.5vw;
}

.forecast_slider{
  width: 16.15vw;
  overflow: hidden;
  transition: all 300ms ease-in;
  border: none;
  margin-top: -1vh;
  border-top: none;
  border-radius: 0vw 0vw 1vw 1vw;
  box-shadow: 0vh 0.5vh 1vh gray;
}

.DropdownArrow{
  border: solid;
  border-color: black;
  border-width: 0 0.75vh 0.75vh 0;
  padding: 1vh;
  border-radius: 0.5vh;
  transform: rotate(45deg);
  position: relative;
  bottom: 1vh;
}

.SearchBarContainer{
  text-align: center;
}

.SearchInput{
  border-radius: 100vh;
  border: none;
  outline: none;
  box-shadow: 0vh 0.5vh 1vh gray;
  padding-left: 3.75vw;
  padding-right: 0.5vw;
  padding-top: 0.5vh;
  padding-bottom: 0.75vh;
  width: 40vw;
  height: 6vh;
  background: url("Icons/GoogleLogo.png") no-repeat;
  background-size: contain;
  background-position: 0.5vh;
  font-family: Tahoma;
  font-size: var(--tsize);
} 

.stopwatch{
  text-align: center;
  display: none;
}

.timer{
  text-align: center;
  display: none;
  align-self: center;
}

.alarms{
  text-align: center;
  display: none;
}

.TimerForm{
  display: block;
  margin-bottom: 1vh;
}

.TimerHours{
  text-align: center;
  width: 1.5vw;
}

.TimerMins{
  text-align: center;
  width: 1.5vw;
}

.TimerSecs{
  text-align: center;
  width: 1.5vw;
}

input:focus::placeholder {
  color: transparent;
}

.center{
  position: relative;
  top: 20vh;
  text-align: center;
}

.ShowWeather{
  width: 16.15vw;
  background: white;
  border-top: none;
  padding-top: 1vh;
  position: relative;
  bottom: 0.8vh;
  border-radius: 0vw 0vw 1vw 1vw;
  border: none;
  box-shadow: 0vh 0.5vh 1vh gray;
  clip-path: inset(-2vh -2vh -2vh -2vh);
  font-size: var(--tsize);
  height: 4vh;
}

.button{
  background: none;
  border: none;
  outline: none;
  padding: 1vh;
  padding-right: 1vw;
  padding-left: 1vw;
  border-radius: 1vh;
  box-shadow: 0vh 0.5vh 1vh gray;
  font-size: var(--tsize);
  text-align: center;
}

.button:active{
  
}

.TimerForm{
  padding: 1vh;
  background: none;
  border: none;
  outline: none;
  padding: 1vh;
  border-radius: 1vh;
  box-shadow: 0vh 0.5vh 1vh gray;
  text-align: center;
  width: 10vw;
  display: flex;
  justify-content: center;
}

.input{
  background: none;
  border: none;
  outline: none;
  padding: .5vh;
  width: 2vw;
  border-radius: 1vh;
  text-align: center;
  font-size: var(--tsize);
}

.TimingButtons{
  display: flex;
  align-items: center;
  gap: 1vw;
  justify-content: center;
}

.bottom-bar{
  display: flex;
  flex-direction: row;
  height: 8vh;
  padding: 1vh;
  box-shadow: 0vh 0vh .5vh gray;
  position: absolute;
  bottom: 0px;
  gap: 1vh
}

.bottom-bar--left{
  border-radius: 0vh 1vh 0vh 0vh;
  left: 0px;
}

.bottom-button{
  font-size: 4vh;
  border: none;
  background: rgb(220, 220, 220);
  border-radius: 1vh;
  text-align: center;
}

.bottom-button--square{
  height: 8vh;
  width: 8vh;
}

.bottom-button--strip{
  width: 20vw;
  height: 5vh;
  border-radius: 5vh;
}

.panel__bookmark-manager{
  padding-right: 0vh;
  width: 21vw;
  position: absolute;
  left: 1vw;
  bottom: 12vh;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 50vh;
  flex-direction: column;
  gap: .5vh;
}

::-webkit-scrollbar{
  background-color: white;
  border-radius: 100vh;
  width: 1vw;
}

::-webkit-scrollbar-thumb {
  background: rgb(220, 220, 220);
  border-radius: 100vh;
  border: .75vh solid white;
}

.panel{
  border-radius: 1vh;
  box-shadow: 0vh .5vh 1vh gray;
  display: flex;
  padding: .75vh;
}

.panel__bookmark-creator{
  position: absolute;
  width: 20vw;
  left: 1vw;
  bottom: 66vh;
  flex-direction: column;
}

.input--left{
  text-align: left;
}

.input--bookmark{
  width: 19vw;
  border-bottom: 1px solid rgb(150, 150, 150);
  border-radius: 0px;
  padding-top: 1vh;
}

.bottom-button__create-mark{
  font-size: var(--tsize);
  height: 4vh;
  width: 20vw;
}

.spacer-div{
  height: 1.5vh;
}

.input--bookmark__name::placeholder{
  color: var(--c__name);
}

.input--bookmark__url::placeholder{
  color: var(--c__url);
}

.input--bookmark__color::placeholder{
  color: var(--c__color);
}

.manager-bookmark{
  display: flex;
  text-align: left;
  align-items: center;
  font-size: var(--fsize);
  overflow: hidden;
  text-overflow: ellipsis;
}

.clear-button{
  text-align: right;
  width: inherit;
  background: none;
  outline: none;
  border: none;
}

.bottom-bookmark{
  border: none;
  border-radius: 1vh;
  height: 8vh;
  min-width: 8vh;
}