.body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

.timing{
  text-align: center;
  height: 21vh;
}

.TimingControls{
  text-align: center;
}

.clock{
    text-align: center;
}

.MainTime{
  font-size: 10vh;
}

.seconds{
  font-size: 5vh;
}

.ShortForecast{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    justify-content: center;
}

.weather{
    text-align: center;
}

.dropdown{
  background-color: transparent;
  border-width: 1px;
  display: flex;
  justify-content: center;
  height: 4vh;
  padding: 0.75vh;
}

.DropdownMenu{
  text-align: center;
  height: auto;
}

.DropdownSlider{
  overflow: hidden;
  transition: all 300ms ease-in;
}

.DropdownContainer{
  align-self: center;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5vh;
}

.WeatherContainer{
  align-self: center;
  width: 17vw;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 0vh;
  right: 0vh;
  display: flex;
  flex-direction: column;
}

.Forecast{
  align-self: center;
  width: 15vw;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-self: center;
  text-align: center;
  padding: 0.5vw;
}

.forecast_slider{
  overflow: hidden;
  transition: all 300ms ease-in;
  border: 1px black solid;
  margin-top: -1vh;
  border-top: none;
}

.DropdownArrow{
  border: solid;
  border-color: black;
  border-width: 0 0.75vh 0.75vh 0;
  padding: 1vh;
  border-radius: 0.5vh;
  transform: rotate(45deg);
  position: relative;
  bottom: 1vh;
}

.SearchBarContainer{
  text-align: center;

}

.SearchInput{
  border-radius: 100vh;
  border: none;
  outline: none;
  box-shadow: 0vh 0.5vh 1vh gray;
  padding-left: 3vw;
  padding-right: 0.5vw;
  padding-top: 0.5vh;
  padding-bottom: 0.75vh;
  width: 34vw;
  height: 4vh;
  background: url("Icons/GoogleLogo.png") no-repeat;
  background-size: contain;
  background-position: 0.5vh;
  font-family: Tahoma;
  font-size: 2vh;
} 

.stopwatch{
  text-align: center;
  display: none;
}

.timer{
  text-align: center;
  display: none;
}

.alarms{
  text-align: center;
  display: none;
}

.TimerForm{
  display: block;
  margin-bottom: 1vh;
}

.TimerHours{
  text-align: center;
  width: 1.5vw;
}

.TimerMins{
  text-align: center;
  width: 1.5vw;
}

.TimerSecs{
  text-align: center;
  width: 1.5vw;
}

input:focus::placeholder {
  color: transparent;
}

.center{
  position: relative;
  top: 20vh;
  text-align: center;
}

.ShowWeather{
  width: 16.15vw;
  background: white;
  border-top: none;
  padding-top: 1vh;
  position: relative;
  bottom: 0.8vh;
  border-radius: 0vw 0vw 1vw 1vw;
  border: solid 1px black;
}