.body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.timing{

}

.clock{
    text-align: center;

}

.time{
    font-size: 10vh;
}

.date{
}

.dropdown{
  background-color: transparent;
  border-width: 1px;
}

.DropdownMenu{

}

.DropdownImage{
  width: 5vh;
  height: 2.5vh;
}
