.body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.timing{

}

.clock{
    text-align: center;

}

.time{
}

.MainTime{
  font-size: 10vh;
}

.seconds{
  font-size: 5vh;
}

.WeatherStuff{

}

.ShortForecast{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    justify-content: center;
}

.weather{
    text-align: center;
}

.WeatherIcon{
}

.date{
}

.dropdown{
  background-color: transparent;
  border-width: 1px;
  display: flex;
  justify-content: center;
  height: 4vh;
  padding: 0.75vh;
}

.DropdownMenu{
    text-align: center;
}

.DropdownContainer{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5vh;
}

.WeatherContainer{
    width: 20vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.DropdownArrow{
    border: solid;
    border-color: black;
    border-width: 0 0.75vh 0.75vh 0;
    padding: 1vh;
    border-radius: 0.5vh;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: relative;
    bottom: 1vh;
}

.SearchBarContainer{

}

.SearchInput{
  border-radius: 100vh;
  border: none;
  outline: none;
  box-shadow: 0vh 0.5vh 1vh gray;
  padding-left: 2vw;
  padding-right: 0.5vw;
  padding-top: 0.5vh;
  padding-bottom: 0.75vh;
  background: url("GoogleLogo.png") no-repeat;
  background-size: contain;
  background-position: 0.5vh;
  font-family: Tahoma;
}
